<footer>
   <span>&copy; Teletubbies Team</span>
   <div id="map"></div>
</footer>

<script src="/js/requisicoes.js"></script>
<script src="/js/main.js"></script>
<script src="/js/google.js"></script>
<script src="<%=scriptEspecial%>"></script>
</body>
</html>