<%- include ('../partials/head.ejs'); -%>

<div class="glider" id="destaquesliders">
    <div id="dots">
        <button class="glider-dot"></button>
        <button class="glider-dot"></button>
        <button class="glider-dot"></button>
        <button class="glider-dot"></button>
    </div>
</div>
<main>
    <section class="exibicao">
        <h2>Investimentos tops</h2>
        <div class="exibicao-container" id="container-1">
            <div class="top1"></div>
            <div class="top2"></div>
            <div class="top3"></div>
            <div class="top4"></div>
        </div>
    </section>
    <section class="exibicao">
        <h2>Categoria destaque - Alimentação</h2>
        <div class="exibicao-container" id="container-2">
            <div class="alimenta1"></div>
            <div class="alimenta2"></div>
            <div class="alimenta3"></div>
            <div class="alimenta4"></div>
        </div>
    </section>
    <section class="exibicao">
        <h2>Categoria destaque - Manutenção</h2>
        <div class="exibicao-container" id="container-3">
            <div class="manuten1"></div>
            <div class="manuten2"></div>
            <div class="manten3"></div>
            <div class="manten4"></div>
        </div>
    </section>
</main> 


<%- include ('../partials/foot.ejs'); -%>