<%- include ('../partials/head.ejs'); -%>

<main>
    <div class="forma-pagamento">
        <h3>Pagamento</h3>
        <p>Escolha uma forma de Pagamento</p>
    </div>
</main>    
<input type="checkbox" name="" id="">
<%- include ('../partials/foot.ejs'); -%>